.deps/
.*.swp
*.Po
*.o
*.gmo
doc/*.html
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conststrings.c
depcomp
doc/Muttrc
doc/instdoc.sh
doc/makedoc
doc/manual.txt
doc/manual.xml
doc/mutt.1
doc/muttrc.man
doc/smime_keys.1
doc/stamp-doc-chunked
doc/stamp-doc-rc
doc/stamp-doc-xml
flea
hcachever.sh
hcversion.h
imap/libimap.a
install-sh
keymap_defs.h
missing
mutt
mutt_dotlock
mutt_dotlock.c
mutt_md5
muttbug.sh
patchlist.c
pgpewrap
pgpring
po/POTFILES
reldate.h
smime_keys
stamp-h1
txt2c
